@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html {
  font-family: 'Quicksand', Cambria, Cochin,
   Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: #478a7e;
  color: white;
  /* text-shadow:
    -0.05rem -0.05rem 0.1rem #000,
    0.05rem -0.05rem 0.1rem #000,
    0.05rem 0.05rem 0.1rem #000,
    -0.05rem 0.05rem 0.1rem #000; */

  font-size: 16px;
  /* -webkit-font-smoothing: subpixel-antialiased; */
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1, h2, h3, h4 {
  text-shadow: 0.1rem 0.1rem 0.33rem #0007;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: calc(2rem * 4/5);
}
h3 {
  font-size: calc(2rem * 3/5);
}
a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: color, 250ms;
  transition-timing-function: ease-in-out;
}
a:hover {
  color: #1c3530;
}
ul {
  list-style-type: none;
}
header > h1 {
  text-align: center;
}
header > figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  background-color: #34a38f;
  position: relative;
  z-index: 2;
}
header > figure > img {
  border-radius: 100%;
  max-width: 200px;
}
header > figure > figcaption {
  padding: 1rem;
  text-align: center;
  font-style: italic;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}
footer > p {
  text-align: center;
}
#social-container {
  margin: 0.75rem 0rem 0.75rem 0rem;
  align-self: center;
  /* margin: 1rem 0rem 1rem 0rem; */
  transform: scale(2.5);
}
#social-container > a {
  color: white;
  margin: 0rem 0.5rem 0rem 0.5rem;
  text-decoration: none;
  transition: transform color 0.25s;
  transition-timing-function: ease-in-out;
}
#social-container > a:link {
  color: white
}
#social-conatiner > a:visited {
  color: white;
}
#social-container > a:hover {
  transform: scale(1.5);
  color:  #1c3530;
}

#body-container {
  display: flex;
  flex-flow: row;
  margin: 0;
  height: 100%;
}
#page-sidebar {
  background-color: #62bdac;
  /* transform: skew(-4.5deg); */
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  box-shadow: 0.1rem 0.1rem 1rem black;
  z-index: 1;
}
#page-content {
  flex-grow: 1;
  display: block;
  height: fit-content;
  word-wrap: break-word;
  background-color: #34a38f;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 0.5rem;
  height: 100%;
  /* transform: skew(-4.5deg); */
  backface-visibility: hidden;
}
#page-content > h2, p {
  margin-left: 1rem;
  margin-right: 1rem;
}
#portfolio-container {
  display: flex;
  flex-flow: row wrap;
}
.portfolio-item-container {
  display: flex;
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding: 1rem;
  background: linear-gradient(90deg, #62bdac, #34a38f);
  transition: transform, 0.5s;
  transition-timing-function: ease-in-out;
}
.portfolio-item-container:hover {
  transform: scale(1.01);
}
.portfolio-item-container img {
  max-width: 250px;
  box-shadow: 0.33rem 0.33rem #0007;
}
.button-box {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin: 2rem 0rem 1rem 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
  color: black;
}
.button-box:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 1200px) {
  .portfolio-item-container {
    flex-flow: row wrap;
  }
}
@media only screen and (max-width: 800px), screen and (max-height: 650px) {
  html {
    overflow-y: auto;
  }
  h1 {
    margin: 0;
  }
  nav {
    margin-bottom: 1.25rem;
  }
  nav > ul li {
    display: inline-block
  }
  nav > ul {
    margin: 0.25rem 0rem 0.25rem 0rem;
    padding: 0;
  }
  nav > ul > li {
    padding: 0rem 0.25rem 0rem 0.25rem;
  }
  #body-container {
    flex-flow: column;
  }
  #page-sidebar {
    position: sticky;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 100%;
    max-height: 200px;
  }
  #page-sidebar > header > figure {
    display: none;
  }
  #social-container {
    margin: 0;
    margin-top: 0.25rem;
  }
  #social-container > a {
    font-size: 0.75rem;
  }
  footer {
    display: none;
  }
  .portfolio-item-container img {
    max-width: 50vw;
  }

}