$base-bg-color: #000028;
$base-bg-color-lighten-1: lighten($base-bg-color, 1%);
$base-bg-color-lighten-2: lighten($base-bg-color, 4%);
$base-bg-color-lighten-3: lighten($base-bg-color, 6%);
$base-bg-color-lighten-4: lighten($base-bg-color, 8%);
$base-bg-color-lighten-5: lighten($base-bg-color, 10%);
$base-bg-color-lighten-6: lighten($base-bg-color, 15%);
$base-bg-color-lighten-7: lighten($base-bg-color, 20%);
$base-bg-color-lighten-8: lighten($base-bg-color, 33%);
$base-bg-color-lighten-9: lighten($base-bg-color, 50%);

$base-bg-color-analog: #140028;
$base-bg-color-analog-lighten-1: lighten($base-bg-color-analog, 25%);
$base-bg-color-analog-lighten-2: lighten($base-bg-color-analog, 50%);

$base-text-color: #dde;
$base-text-color-darken-1: darken($base-text-color, 12.5%);

@font-face {
  font-family: "Varela Round";
  src: url("./src/assets/fonts/varela-round.regular.ttf");
}

html {
  font-family: "Varela Round", "Open Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background-color: $base-bg-color;
  color: $base-text-color-darken-1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Quicksand", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: $base-text-color;
  letter-spacing: -1px;
}

body {
  margin: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $base-text-color;
  text-decoration: none;
}

p {
  color: $base-text-color-darken-1;
}

#app {
  display: flex;
  height: 100%;

  & > * {
    flex-grow: 1;
  }
}

#router {
  & > * > h2 {
    margin-left: 1rem;
  }
}

#sidebar {
  background-color: $base-bg-color-lighten-1;
  max-width: 320px;
  padding: 1rem;
  text-align: center;
  border-right: 2px solid;
  border-color: $base-bg-color-lighten-3;

  nav {
    text-align: left;
  }

  li {
    list-style-type: none;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0.25rem;
    transition: border 0.5s;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: all 0.5s;

    a {
      display: block;
      width: 100%;
    }

    &:hover {
      border-right: 4px solid $base-bg-color-lighten-8;
      border-bottom: 4px solid $base-bg-color-lighten-8;
    }
  }
}

footer {
  font-size: 0.875rem;
  letter-spacing: 1px;
}

#username {
  font-size: 2rem;
}

#avatar-container {
  display: flex;
  justify-content: center;
  img {
    width: 80%;
    height: auto;
    border-radius: 1rem;
  }
}

#home {
  overflow: auto;
  max-height: 100vh;
}

#user-repositories {
  display: flex;
  flex-wrap: wrap;
  & > * {
    flex-grow: 1;
    max-width: 420px;
  }
}

#user-repository {
  margin: 1rem;
  padding: 0 1rem 0 1rem;
  background-color: $base-bg-color-lighten-2;
  border: 2px solid;
  border-color: $base-bg-color-lighten-5;
  height: min-content;
  border-radius: 0.25rem;

  &:nth-of-type(2n) {
    background-color: $base-bg-color-lighten-4;
    border-color: $base-bg-color-lighten-6;
  }
}

#other {
  & > div {
    margin: 1rem;
  }
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.tag-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.repo-tag {
  font-size: 0.875rem;
  width: max-content;
  padding: 0.25rem;
  font-weight: bolder;
  letter-spacing: -0.5px;
  border-radius: 0.125rem;
}

#link-button {
  background-color: $base-bg-color-lighten-8;
  width: max-content;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.25rem;
  transform: scale(1) rotate(0deg);
  filter: invert(0);

  transition: all 0.5s;

  & > a {
    display: block;
    width: 100%;
  }

  &:hover {
    transform: scale(1.125) rotate(360deg);
    filter: invert(1);
  }
}
