@font-face {
  font-family: "Varela Round";
  src: url("./src/assets/fonts/varela-round.regular.ttf");
}
html {
  font-family: "Varela Round", "Open Sans", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background-color: #000028;
  color: #b3b3d9;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Quicksand", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #dde;
  letter-spacing: -1px;
}

body {
  margin: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #dde;
  text-decoration: none;
}

p {
  color: #b3b3d9;
}

#app {
  display: flex;
  height: 100%;
}
#app > * {
  flex-grow: 1;
}

#router > * > h2 {
  margin-left: 1rem;
}

#sidebar {
  background-color: #00002d;
  max-width: 320px;
  padding: 1rem;
  text-align: center;
  border-right: 2px solid;
  border-color: #000047;
}
#sidebar nav {
  text-align: left;
}
#sidebar li {
  list-style-type: none;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.25rem;
  transition: border 0.5s;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}
#sidebar li a {
  display: block;
  width: 100%;
}
#sidebar li:hover {
  border-right: 4px solid #0000d0;
  border-bottom: 4px solid #0000d0;
}

footer {
  font-size: 0.875rem;
  letter-spacing: 1px;
}

#username {
  font-size: 2rem;
}

#avatar-container {
  display: flex;
  justify-content: center;
}
#avatar-container img {
  width: 80%;
  height: auto;
  border-radius: 1rem;
}

#home {
  overflow: auto;
  max-height: 100vh;
}

#user-repositories {
  display: flex;
  flex-wrap: wrap;
}
#user-repositories > * {
  flex-grow: 1;
  max-width: 420px;
}

#user-repository {
  margin: 1rem;
  padding: 0 1rem 0 1rem;
  background-color: #00003c;
  border: 2px solid;
  border-color: #00005b;
  height: min-content;
  border-radius: 0.25rem;
}
#user-repository:nth-of-type(2n) {
  background-color: #000051;
  border-color: #000075;
}

#other > div {
  margin: 1rem;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.tag-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.repo-tag {
  font-size: 0.875rem;
  width: max-content;
  padding: 0.25rem;
  font-weight: bolder;
  letter-spacing: -0.5px;
  border-radius: 0.125rem;
}

#link-button {
  background-color: #0000d0;
  width: max-content;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.25rem;
  transform: scale(1) rotate(0deg);
  filter: invert(0);
  transition: all 0.5s;
}
#link-button > a {
  display: block;
  width: 100%;
}
#link-button:hover {
  transform: scale(1.125) rotate(360deg);
  filter: invert(1);
}